Задание 2. Итерационные методы решения СЛАУ (метод простой итерации, метод Зейделя).

In [1]:
import numpy as np
import pandas as pd
from typing import Callable
from enum import Enum
from numpy import linalg as LA
import math

In [2]:
class SolvingMethod(Enum):
    SIMPLE_ITERATION = 1,
    SEIDEL = 2


def convert_system(A: np.ndarray, b: np.ndarray) -> tuple[np.ndarray, np.ndarray]:
    inv_diag = LA.inv(np.diag(np.diag(A)))
    return np.identity(A.shape[0]) - (inv_diag @ A), inv_diag @ b


def iterate(H: np.ndarray, g: np.ndarray, stop: Callable[[float, float], bool], limit: int) -> tuple[np.ndarray, int]:    
    if any(LA.eigvals(H) >= 1):
        raise ValueError("Computation does not converge.")
    
    current_x = np.zeros(H.shape[1])
    for step in range(1, limit):
        next_x = H @ current_x + g

        if stop(current_x, next_x):
            return next_x, step
        
        current_x = next_x
    return next_x, step


def solve(A: np.ndarray, b: np.ndarray, accuracy: float, method: SolvingMethod, limit=10000) -> tuple[np.ndarray, int]:
    H, g = convert_system(A, b)
    norm_H = LA.norm(H)

    match method:
        case SolvingMethod.SIMPLE_ITERATION:
            coefficient = norm_H / (1 - norm_H) if norm_H < 1 else 1
        case SolvingMethod.SEIDEL:
            H_l, H_r, E = np.tril(H, -1), np.triu(H), np.identity(H.shape[0])
            H, g = LA.inv(E - H_l) @ H_r, LA.inv(E - H_l) @ g
            coefficient = LA.norm(H_r) / (1 - norm_H) if norm_H < 1 else 1

    stop = lambda current_x, next_x: coefficient * LA.norm(next_x - current_x) <= accuracy
    return iterate(H, g, stop, limit)

In [3]:
methods = {
    'метод простой итерации': SolvingMethod.SIMPLE_ITERATION,
    'метод Зейделя': SolvingMethod.SEIDEL
}

columns = ['точность', 'метод', 'количество итераций', 'погрешность']

format = {columns[0]: '{:.0e}', 
          columns[3]: '{:.6e}'}

style = [{'selector': 'th', 'props': [('max-width', '100px')]}]

def results_df(matrix: np.ndarray, powers=range(2, 9)) -> pd.DataFrame:
    exact_x = np.ones(matrix.shape[0])
    b = matrix @ exact_x

    data = []
    accuracy = [10 ** -p for p in powers]
    for a in accuracy:
        for m_name, m in methods.items():
            x, steps = solve(matrix, b, a, m)
            data.append([a, m_name, steps, LA.norm(exact_x - x)])
    return pd.DataFrame(data, columns=columns)

### Симметричная с диагональным преобладанием разреженная матрица большого порядка

In [4]:
def generate(size: int, gamma=0.3, max_rand=15) -> np.ndarray:
    limit = size ** (1 + gamma)
    matrix = np.zeros((size, size))

    triu = list(zip(*np.triu_indices_from(matrix, k=1)))
    np.random.shuffle(triu)
    indices_to_fill = triu[:math.floor((limit - size) / 2)]

    for i, j in indices_to_fill:
        matrix[i, j] = (-1) ** np.random.randint(2) * np.random.uniform(-max_rand, 0)
        matrix[j, i] = matrix[i, j]

    diagonal = ((-1) ** np.random.randint(0, 2, size) * 
                np.max([np.sum(abs(matrix), 1), 
                        -np.random.uniform(-max_rand, 0, size)], 0))
    np.fill_diagonal(matrix, diagonal)
    return matrix

In [5]:
for n in range(200, 501, 100):
    print(f"n = {n}")
    matrix = generate(n)
    display(results_df(matrix).style.format(format).set_table_styles(style).hide())

n = 200

n = 300

n = 400

n = 500